<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PandaMbegu310</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to PandaMbegu310</h1>
        <a href="#" class="predict-button" onclick="predict">Predict</a>
    </header>

    <section class="about-section">
        <h2>About Us</h2>
        <p>We help farmers predict the best crops to plant based on the current conditions. Our system can predict the following 22 crops:</p>
        <ul>
            <li>Apple</li>
            <li>Banana</li>
            <li>Blackgram</li>
            <li>Chickpea</li>
            <li>Coconut</li>
            <li>Coffee</li>
            <li>Cotton</li>
            <li>Grapes</li>
            <li>Jute</li>
            <li>Kidneybeans</li>
            <li>Lentil</li>
            <li>Maize</li>
            <li>Mango</li>
            <li>Mothbeans</li>
            <li>Mungbean</li>
            <li>Muskmelon</li>
            <li>Orange</li>
            <li>Papaya</li>
            <li>Pigeonpeas</li>
            <li>Pomegranate</li>
            <li>Rice</li>
            <li>Watermelon</li>
        </ul>
        <p>Wapendwa! Shamba lako liko tayari kwa mavuno? Wakati sasa ni wa kupanda mbegu, sio mbegu nyingine bali mbegu ya 310!</p>
    </section>

    <footer>
        &copy; 2024 PandaMbegu310. All rights reserved.
    </footer>
    <script src="../../static/js/home.js"></script>
</body>
</html>
